 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@300&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Inter";
    background: #F5F8FE;
}




.todo-title{
  text-align:center;
  margin-top:5rem;
}

.todoInput-form{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:3rem;
  gap:2rem;

}
.todoInput{
  height:3rem;
  padding:1rem;
  border:1px solid black;
  border-radius:20px;

}


.input-btn{
  background:black;
  color:white;
  border:none;
  height:3rem;
  width:5rem;
  padding:1rem;
  align-items:center;
}

.input-btn:hover{
  background:gray;
  color:white;
  border:none;
  height:3rem;
  width:5rem;
  padding:1rem;
  align-items:center;
 
}

.liItem{
  margin:3rem;
  padding:1rem;
  border:1px solid black;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#EEEEEE;
  border-radius:10px;
  border:none; 
  font-family:"Inter"
}

/* 




 h2{

   font-weight:300;
   color:black;
   font-size:1.5rem;
  


 }
div{
    display:flex;
   gap:0.9rem;
    align-items:center;
   
}


div input{
    height:1.5rem;
    width:2rem;
    
}


div button{
    background:black;
    color:white;
    border:none;
    padding:0.5rem;
    margin:2px;
}

div button:hover{
    background:white;
    color:black;
    border:none;
    padding:0.5rem;
    margin:2px;
    transform:scale(1.1)
}

@media screen and (max-width:480px)
{  h2{
    font-size:14px;
    font-weight:300;
}
    li div label {
        font-size:11px
        
    }
} */