.cardContainer{
    margin:3rem;
padding:1rem;
border:1px solid black;
display:flex;
justify-content:space-between;
align-items:center;
background:#EEEEEE;
border-radius:10px;
border:none; 
font-family:"Inter"
}

.taskName{

    font-weight:300;
    color:black;
    font-size:1.5rem;
    text-transform:capitalize;
}
